# AWS Configuration
AWS_ACCOUNT_ID=551216219828
DEFAULT_AWS_REGION=us-east-1

# Project Configuration
PROJECT_NAME=twin

# OpenAI Configuration  
OPENROUTER_API_KEY=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